header.header
    .col-left
        a(href=routes.home)
            i.fab.fa-youtube
    .col-right
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Login