//- Use join & login page
.sns-login
    button.github
        a(href=routes.github)
            span
                i.fab.fa-github
            | Continue with GitHub
    button.facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook
            | Continue with facebook