//- Use join & login page
.sns-login
    button.github
        span
            <i class="fab fa-github"></i>
        |   Continue with GitHub
    button.facebook
        span
            <i class="fab fa-facebook"></i>
        |   Continue with facebook