doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | #{siteName} Clone
        //- link(rel="stylesheet", href="./css/reset.css")
        script(src="https://kit.fontawesome.com/9b1d6e34ef.js", crossorigin="anonymous")
    body
        include ../partials/header
        main
            block content
        include ../partials/footer