extends layouts/main

block content
    .form-container
        form(action=routes.editProfile, method="post")
            .fileUpload
                label(for="avatar") Avatar
                input(type="file", id="avatar", name="avatar")
            input(type="text", name="nam" placeholder="Name")
            input(type="email", name="eml" placeholder="Email")
            input(type="submit", value="Update Profile")
        a.form-link(href=`/users${routes.changePassword}`)
            button Change Password