extends layouts/main

block content
    .form-container
        form(action=routes.login, method="post")
            input(type="email", name="eml", placeholder="email" required=true)
            input(type="password", name="pwd", placeholder="password" required=true)
            input(type="submit", value="Log In")
        include ./partials/snsLogin